<a href="https://colab.research.google.com/github/ptrciabnquit/Linear-Algebra_2nd-Sem/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals

In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:

* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

In [ ]:
p = 13
a,t = 5, 29
p

13

In [ ]:
type (p)

int

In [ ]:
k = 3.0
type (k)

float

In [ ]:
k = float (k)
type (k)

float

In [ ]:
a,d,u = "0", '2', 'uno'
type (u)

str

In [ ]:
a_int = int(a)
type (a)

str

## Operations

###### Operators are Python's particular characters for solving math or logic computation. The operand is the value that the operator performs on—for instance, 2+10=12. Here the + sign is the operator that carries out the given equation. Additionally, 2 and 10 are known as the operands, and 12 is the operation's output.

### Arithmetic

In [ ]:
p,a,t = 2, 10, 10

In [ ]:
#### Addition
s = p+a
s

12

In [ ]:
### Multiplication
p = a*t
p

100

In [ ]:
### Floor Division
Fq = a//t
Fq

1

In [ ]:
### Exponentiation
e = a**t
e

10000000000

In [ ]:
### Modulo
mod = t%a
mod

0

### Assignment Operations

###### Assignment Operators functions to assign values to variables. The following are some examples of assignment operators that this activity utilized: 

1. =, this functions to assign the value of ride of expression to the operand on the left side 

2. +=, this will add the operand on the right side alongside the operand on the left side operand 

3. -=, this assignment operator subtracts the right operand from the left operand then assign it to the left operand 

4. *=, it multiplies right operand with left operand then assign to left operand 

5. **=, this will calculate the exponent value using operands and assign value to left operand

In [ ]:
Y,K,L = 6, 18, 56
Y += a
Y

16

In [ ]:
K -= a
K

8

In [ ]:
L *= a
L

5600

In [ ]:
K **= 1
K

2

### Comparators

In [ ]:
res_1, res_2, res_3 = 1, 2, 3
true_val = 1

In [ ]:
## Equality 
res_1 == true_val

True

In [ ]:
## Equality 
res_2 == true_val

False

In [ ]:
## Non-equality
res_2 != true_val

True

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2 
t1

False

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2 
t2

False

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2 
t3

True

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2 
t4

True

### Logical

###### A logical operator is a character or term that joins various expressions. The value of the original statements entirely influences the validity of the compound expression generated and the operator's significance. This activity used logical operators such as AND, OR, and NOT.

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

True

In [ ]:
res_1 is not true_val

False

In [ ]:
n,b = True, False
conj = n and b
conj

False

In [ ]:
n,b = True, False
disj = n or b
disj

True

In [ ]:
n, b = True, False
o = not(n)
o

False

### I/O

In [ ]:
print("Hello World")

Hello World

In [ ]:
cnt = 1

In [ ]:
string = "Hello World"
print(string, ", Current run count is: ", cnt)
cnt =+ 3

Hello World , Current run count is:  10

In [ ]:
sem_grade = 98.67906
name = "Pat"
print("Hello", name, ", your semestral grade is: ", sem_grade)

Hello Pat , your semestral grade is:  98.67906

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grade are: \
\n\t{: .2%} for Prelims\
\n\t{: .2%} for Midterms, and\
\n\t{: .2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grade are:
	 30.00% for Prelims
	 30.00% for Midterms, and
	 40.00% for Finals.

In [ ]:
x = input("enter a number: ")
x

enter a number: 13

'13'

In [ ]:
name = input("Input your name: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = None

Input your name: Patricia
Enter prelim grade: 100
Enter midterm grade: 100
Enter finals grade: 100

# Looping Statements

###### It comprises a series of operations that are repeated znumerous times until the desired result is reached. Python includes two looping statements: for and while, which are employed to identify them in this exercise.

## While

In [ ]:
## while loops
i, j = 0, 13
while(i<=j):
  print(f"{i}\t|\t{j}")
  i+=1

0	|	13
1	|	13
2	|	13
3	|	13
4	|	13
5	|	13
6	|	13
7	|	13
8	|	13
9	|	13
10	|	13
11	|	13
12	|	13
13	|	13

## For

###### A "For" Loop is used to loop a code block a predetermined amount of times. In the "For" loop, the number of iterations to be performed is already known. It is employed to achieve the desired outcome. On the contrary, in a while loop, the command runs until a particular condition is satisfied and the statement is proven to be wrong.

In [ ]:
# for(int i=0; i<11; i++){
# printf(i)
# }

#i=0
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
playlist = ["Dynamite", "Butter", "Love Myself"]
print('Now Playing:\n')
for song in playlist:
  print(song)

Now Playing:

Dynamite
Butter
Love Myself

## Flow Control

### Condition Statements

###### In a Python programming language, the if statement governs the program flow. The "elif" and "else"  functions are seen in most if statements. This indicates that while there may be various "elif", there is only one "else". The if statement must end with the "else"; thus, no other "elif" branches can be added.

In [ ]:
numeral1, numeral2 = 13, 14
if(numeral1 == numeral2):
  print("Yey")
elif(numeral1>numeral2):
    print("Hoho")
else:
    print("Wews")

Wews

## Functions

###### A function in Python is a series of interrelated statements that executes a particular task. Functions aid in the division of the program into more superficial, flexible portions. Functions help the program become more ordered and accessible as it increases in size and prevents duplication.

In [ ]:
# void DeleteUser(int userid){
#      delete(userid);
# }

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))

def delete_all_users ():
    print("eupH0$hZ sIr")

In [ ]:
userid = "Pat"
delete_user("Pat")
delete_all_users()

Successfully deleted user: Pat
eupH0$hZ sIr

In [ ]:
def add(addend1, addend2):
    return addend1 + addend2 

def power_of_base5(exponent):
    return 2**exponent

In [ ]:
addend1, addend2 = 10,20
#add(addend1, addednd2)

exponent = 5
power_of_base5(exponent)

32

### Assignment 1

In [46]:
w_pg, w_mg, w_fg = 0.30, 0.30, 0.40
name = input("Enter your name: ")
course = input("Enter your course: ")
yearlevel = input("Enter your year level: ")
pg = float(input("Enter Prelim Grade: "))
mg = float(input("Enter Midterm Grade: "))
fg = float(input("Enter Finals Grade: "))
sem_grade = (pg*w_pg) + (mg*w_mg) + (fg*w_fg)
print("Your Sem Grade is: {: .2f} ".format (sem_grade))
if(sem_grade > 70): print("\U0001F600")
elif(sem_grade == 70): print("\U0001F606")
else: print("\U0001F62D")

Enter your name: Patricia Jenine P. Baniquit
Enter your course: B.S. Chemical Engineering
Enter your year level: 2nd Year
Enter Prelim Grade: 99.99876
Enter Midterm Grade: 99.22
Enter Finals Grade: 99.0987234567
Your Sem Grade is:  99.41
😀